html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.landing-page{
    background-color: #FFFFFF;    
    margin: 0;
}
header{
    background-color: #FFFFFF;
    height: 0.01%;
    padding: 0px 48px;
    display: flex;
    justify-content: space-between;
}
.divider1{
    width: 100%;
    height: 0;
    border: 2px solid #00000029;
}
.divider2{
    width: 100%;
    height: 0;
    border: 2px solid #00000029;
    position: absolute;
    top: 90%;
}
.logo{
    display: flex;
    height: 60%;
    gap: 12px;
    margin-top: 20px;
}
.logo span{
    height: 62.5%;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal; 
    font-size: 42px;
    line-height: 42px;
    letter-spacing: -4%;
}
.page-links{
    height: 40%;
    gap: 32px;
    display: flex;
    padding: 5px 0px;
    box-sizing: border-box;
}
.page-links p{
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #000000;
}
.page-links div{
    transition: 0.3s ease;
}
.page-links div a{
    text-decoration: none;
}
.page-links div:hover{
    background-color: gray;
    border-radius: 4px;
}
.page-links div:hover p{
    color: #FFFFFF;
}
.container{
    width: 100%;
    height: 94%;
    padding: 0px 48px;
    box-sizing: border-box;
    position:relative;
}
.container .main-content{
    height: 97.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.main-content .tagline{
    height: 28%;
    padding: 96px 0px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;
}
.tagline span{
    height: 20.8%;
    width: 90%;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -2%;
    text-align: center;
    color: #000000;
}
.tagline img{
    height: 58.3%;
    width: 100%;
    border-radius: 56px;
    border-top: 2px solid #000000;
}
.collage{
    width: 100%;
    height: 32.6%;
    border-bottom: 2px solid #FFFFFF;
    padding: 48px 0px;
    gap: 48px;
    display: flex;
    justify-content: space-between;
}
.collage .column{
    width: 40%;
    height: 92%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.project{
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: 0.5s ease;
}
.project:hover{
    border-radius: 4px;
    background-color: gray;
}
.project:hover span{
    color: #FFFFFF;
}
.one,.five,.nine{
    height: 30%;
}
.two,.six,.seven{
    height: 23.4%;
}
.three,.eight,.four{
    height: 38%;
}
.project img{
    width: 100%;
    border-top: 2px solid #000000;
}
.one img,.five img,.nine img{
    height: 85%;
}
.two img,.six img,.seven img{
    height: 80%;
}
.three img,.four img,.eight img{
    height: 88%;
}
.one .project-number,.five .project-number,.nine .project-number{
    height: 6.3%;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
.project-number{
    height: 24px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
.project-number{
    height: 24px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
.project-type{
    height: 6.3%;
    width: 100%;
    font-size: 17px;
    line-height: 24px;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #00000099;
}
.about-section{
    width: 100%;
    height: 12.3%;
    padding: 96px 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.about-text{
    width: 50%;
    height: 61.9%;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1%;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.about-spacer{
    width: 50%;
    height: 61.9%;
}
.text-section{
    width: 100%;
    height: 9.6%;
    padding: 96px 0px;
    gap: 96px;
}
.text-container{
    width: 100%;
    height: 51%;
    padding: 48px 0px;
    gap: 96px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.text-text{
    width: 46%;
    height: 26%;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1%;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.text-div{
    width: 46%;
    height: 52%;
    padding-top: 8px;
}
.div-text{
    height: 92%;
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5%;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.verification-input{
    width: 100%;
    height: 17%;
    padding-top: 200px;
    gap: 48px;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 29%;
    height: 39.4%;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.instruction-container{
    width: 100%;
    height: 21.7%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ic1{
    height: 53%;
    width: 100%;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    text-align: center;
}
.ic2{
    height: 33.33%;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.input-container{
    width: 150%;
    height: 23%;
    gap: 12px;
    display: flex;
    justify-content: center;
}
.input{
    width: 9.3%;
    height: 100%;
    border: 2px solid #00000029;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input span{
    width: 21.4%;
    height: 37.5%;
    font-size: 20px;
    line-height: 24px;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #0000005C;
}
.submit{
    width: 100%;
    height: 13%;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background-color: #AD7C00;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s ease;
}
.submit:hover{
    background-color: gray;
    color: #FFFFFF;
}
.skip{
    width: 10%;
    height: 7.2%;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #AD7C00;
}
.skip-design{
    width: 93%;
    height: 13%;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    text-align: center;
    transition: 0.3s ease;
}
.skip-design:hover{
    background-color: gray;
}
.skip-design:hover .skip{
    color: #FFFFFF;
}
footer{
    width: 100%;
    height: 3.79%;
    border-top: 2px;
    box-sizing: border-box;
    padding: 96px 48px 24px 48px;
    gap: 24px;
}
.footer-container{
    width: 100%;
    height: 28.5%;
    display: flex;
    justify-content: space-between;
}
.pagelink{
    height: 66%;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #00000099;
}
button{
    width: 12%;
    height: 100%;
    border: 2px solid #00000029;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 20px;
    line-height: 24px;
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFFFF;
    transition: 0.3s ease;
}
button:hover{
    background-color: gray;
    color: #FFFFFF;
}
 @media (max-width: 853px){
    .page-links{
        width: 50vw;
    }
    .page-links p{
        font-size: 15px;
    }
    .logo{
        width: 50vw;
    }
    .logo span{
        font-size: 30px;
    }
    .divider1{
        width: 100vw;
    }
    .divider2{
        width: 100vw;
    }
    .container{
        width: 100vw;
    }
    .collage{
        flex-direction: column;
        align-items: center;
    }
    .column{
        width: 100vw;
    }
    footer button{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }